/* switch toggle */
input {
  z-index: 1;
  position: relative;
  margin: 0 10px; /* bah bah */
  width: 4.5em;
  height: 2.5em;
  border-radius: 25px; /* bah bah */
  background: #999;
  outline: 0;
  appearance: none;
  cursor: pointer;
}

/* rondje in de switch */
input:after {
  content: "";
  position: absolute;
  /*top: 4px; /* bah bah */
  /*left: 2px; /* bah bah */
  top:.25em;
  left:.25em;
  display: block;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #eee;
  transition: .25s ease-out;
}

input:checked {
  background-color: rgb(36, 75, 107);
}

input:checked:after {
  transform: translateX(100%);
}

/* container */
body section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lucht bij dag*/
form:not(:valid) ~ section > div:nth-of-type(1):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  /* background-color: #d89766; */
  background-image: linear-gradient(
    0deg,
    hsl(205, 45%, 80%) 1%,
    hsl(206, 63%, 76%) 4%,
    hsl(206, 63%, 76%) 9%,
    hsl(206, 63%, 76%) 15%,
    hsl(206, 61%, 78%) 21%,
    hsl(205, 46%, 78%) 28%,
    hsl(206, 54%, 84%) 35%,
    /* hsl(206, 63%, 76%) 42%, */ /* hsl(206, 63%, 76%) 49%, */
      /* hsl(206, 63%, 76%) 56%, */ /* hsl(206, 63%, 76%) 63%, */
      /* hsl(206, 63%, 76%) 70%, */ /* hsl(206, 63%, 76%) 76%, */
      hsl(206, 66%, 85%) 82%,
    hsl(206, 63%, 76%) 87%,
    hsl(206, 63%, 76%) 91%,
    hsl(206, 63%, 76%) 95%,
    hsl(205, 45%, 80%) 98%,
    hsl(205, 45%, 80%) 100%
  );
}

/* lucht bij nacht */
form:has(:checked) ~ section > div:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    0deg,
    hsl(207deg 58% 40%) 4%,
    hsl(210deg 63% 37%) 9%,
    hsl(213deg 69% 35%) 15%,
    hsl(216deg 80% 32%) 21%,
    hsl(215deg 98% 27%) 28%,
    hsl(215deg 96% 25%) 35%,
    hsl(214deg 94% 23%) 42%,
    hsl(212deg 91% 20%) 49%,
    hsl(208deg 88% 16%) 56%,
    hsl(210deg 89% 16%) 63%,
    hsl(213deg 91% 15%) 70%,
    hsl(216deg 93% 15%) 76%,
    hsl(220deg 96% 15%) 82%,
    hsl(220deg 98% 14%) 87%,
    hsl(218deg 97% 13%) 91%,
    hsl(215deg 95% 13%) 95%,
    hsl(211deg 94% 12%) 98%,
    hsl(206deg 93% 11%) 100%
  );
}

/* zon */
form:not(:checked) ~ section > div:nth-of-type(1) > div:nth-child(1) {
  position: relative;
  width: 13em;
  height: 14em;
  bottom: 50%;
  background: radial-gradient(
    circle,
    #fff2d6 20%,
    #d89766 35%,
    transparent 55%
  );
}

/* maan */
form:has(:checked) ~ section > div:nth-of-type(1) > div:nth-child(1) {
  z-index: 1;
  position: relative;
  width: 13em;
  height: 14em;
  top: 0;
  left: 50%;
  bottom: 50%;
  background: radial-gradient(
    circle,
    #c2bfba 20%,
    #e1dbd6 35%,
    transparent 55%
  );
}

/* TODO sterren */
/* section div:nth-of-type(1) div:nth-child(2):before{
    content: "";
    position: absolute;
    width: inherit;
    height: 50%;
    top: 0;
    left: 0;
    background: radial-gradient(#fff 8%, transparent 5%);
    background-position: top left, 5px 23px;
    background-size: 30px 30px;
    border-radius: 50%;
    opacity: 1;
    transform: skew(20deg);
  } */

/* oceaan bij nacht*/
form:has(:checked) ~ section:nth-of-type(1) > div:last-of-type {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  background: conic-gradient(
    from 90deg at 50% 150%,
    #589bce,
    #055ca7,
    #052b4c,
    #003b90,
    #00174a
  );
}

/* oceaan bij dag*/
form:not(:valid) ~ section:nth-of-type(1) > div:last-of-type {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  background: conic-gradient(
    from 90deg at 50% 150%,
    #589bce,
    #327bba,
    #327bba,
    #b1b8c2,
    #327bba
  );
}

/* grond */
section section {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 25%;
  left: 0;
  /* z-index: 1; */
  background: linear-gradient(
    to top,
    #9e906e 20%,
    #9e906e 40%,
    #2ecc71 50%,
    #2ecc71 100%
  );
}

svg {
  position: relative;
  bottom: 4em;
  height: 80%;
  width: 100%;
  --leafs: green;
  --treeTrunk: #684132;
}

svg g ellipse,
polygon,
path {
  fill: var(--leafs);
}

svg g rect {
  fill: var(--treeTrunk);
}

li{
  list-style: none;
}

/* vuurwerk */
form:has(:checked) ~ section:nth-of-type(1) div:nth-of-type(1) ul {
  position: absolute;
}

form:has(:checked) ~ section:nth-of-type(1) ul li {
  position: absolute;
  left: 0vw;
  bottom: 20vw;
  width: 0.2vw;
  height: 5vw;
  transform-origin: 50% 80%;
  list-style: none;
  overflow: hidden;
}

form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(1) {
  transform: rotate(0deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(2) {
  transform: rotate(30deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(3) {
  transform: rotate(60deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(4) {
  transform: rotate(90deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(5) {
  transform: rotate(120deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(6) {
  transform: rotate(150deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(7) {
  transform: rotate(180deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(8) {
  transform: rotate(210deg) translateY(-1vw);;
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(9) {
  transform: rotate(240deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(10) {
  transform: rotate(270deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(1) {
  transform: rotate(300deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(11) {
  transform: rotate(330deg) translateY(-1vw);
}
form:has(:checked) ~ section:nth-of-type(1) ul li:nth-child(12) {
  transform: rotate(360deg) translateY(-1vw);
}

form:has(:checked) ~ section:nth-of-type(1) ul li:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2.8vw;
  background-color: gold;
}

@keyframes vuurwerk {
  0% {
    top: 100%;
    opacity: 100%;
  }
  40%,
  100% {
    top: -60%;
    opacity: 50%;
  }
}

form:has(:checked) ~ section:nth-of-type(1) ul:nth-of-type(1) {
  left: 40%;
  top: 30%;
  /* transform: scale(1); */
}

form:has(:checked) ~ section:nth-of-type(1) ul:nth-of-type(1) li:before {
  animation: vuurwerk 1.75s ease-in-out infinite;
  animation-delay: 1.75s;
}

form:has(:checked) ~ section:nth-of-type(1) ul:nth-of-type(1) li:nth-of-type(2n):before {
  background-color: red;
}

form:has(:checked) ~ section:nth-of-type(1) div:nth-of-type(1) > div:nth-of-type(2){
  position: absolute;
  background-color: rgb(255, 0, 0);
	width: 0.25vw;
	border-radius: 25%;
	height: 0.5vw;
	bottom: -8vw;
	left: -2.5vw;
	opacity: 0;
	animation: omhoog 1.75s ease-in-out infinite;
	animation-delay: 0.1s;
}

@keyframes omhoog {
	0%,
	45% {
		transform: translate(20vw, -10vw);
		opacity: 100%;
	}
	95% {
		transform: translate(20vw, -30vw);
		opacity: 100%;
	}
	96%,
	100% {
		transform: translate(20vw, -30vw);
		opacity: 0%;
	}
}

/* form:has(:checked) ~ section:nth-of-type(1)  {
  left: 40%;
  top: 45%;
  transform: scale(.7);
}
form:has(:checked) ~ section:nth-of-type(1) ul:nth-of-type(2) li:before {
  animation: vuurwerk 3s 2s ease-in-out infinite;
}

form:has(:checked) ~ section:nth-of-type(1) ul:nth-of-type(3) {
  left: 50%;
  top: 65%;
  transform: scale(.4);
}
form:has(:checked) ~ section:nth-of-type(1) ul:nth-of-type(3) li:before {
  animation: vuurwerk 2s 4s ease-in-out infinite;
}
 */
